<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <property name="DEV_HOME" value="c:/logs" />
    
    <!-- Send debug messages to System.out -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        
        <encoder>

            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>

        </encoder>

    </appender>

 

    <!-- Send debug messages to a file at "c:/jcg.log" -->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${DEV_HOME}/Untitled.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">

            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">

            <FileNamePattern>${DEV_HOME}/Untitled.%i.log.zip</FileNamePattern>

            <MinIndex>1</MinIndex>

            <MaxIndex>10</MaxIndex>

        </rollingPolicy>
        
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <!-- org.bitirmeprojesi.controller Classes Log -->
    <logger name="org.bitirmeprojesi.controller" level="DEBUG" additivity="false" >
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <!-- End -->
    
    <!-- org.bitirmeprojesi.converter Classes Log -->
    <logger name="org.bitirmeprojesi.converter" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <!-- End -->
    
    <!-- org.bitirmeprojesi.daoImpl Classes Log -->
    <logger name="org.bitirmeprojesi.daoImpl" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <!-- End -->
    
    <!-- org.bitirmeprojesi.service Classes Log -->
    <logger name="org.bitirmeprojesi.service" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </logger>
    <!-- End -->
    
    <!-- org.bitirmeprojesi.validator Classes Log -->
    <logger name="org.bitirmeprojesi.validator" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />

    </logger>
    <!-- End -->
    
    <!-- org.bitirmeprojesi.handler Classes Log -->
    <logger name="org.bitirmeprojesi.handler" level="DEBUG" additivity="false" >
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <!-- End -->
    
      <!-- org.bitirmeprojesi.handler Classes Log -->
    <logger name=" org.bitirmeprojesi.listener" level="DEBUG" additivity="false" >
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <!-- End -->
    
    <!-- By default, the level of the root level is set to DEBUG -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
